
<!--Jumbotron at the top of the page-->

<div class="jumbotron text-center">
  <h1 class="display-4">Burger City</h1>
  <p class="lead">America's finest purveyor of digital burgerization</p>
  <hr class="my-4">
  <p>At Burger City, you can create new burgers and then virtually devour them--all with a click of the mouse!</p>
  </p>
</div>

